<h2>Offices</h2>
		
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tbody>
				<tr bgcolor="#9B9696">
					<td style="text-align: center; padding: 7px 0"><strong>Name</strong></td>
					<td style="text-align: center; padding: 7px 0"><strong>Square meters</strong></td>
					<td style="text-align: center; padding: 7px 0"><strong>Sale/Lease</strong></td>
					<td style="text-align: center; padding: 7px 0"><strong>Status</strong></td>
					<td style="text-align: center; padding: 7px 0"><strong>Published</strong></td>
					<td style="text-align: center; padding: 7px 0"><strong>Property Type</strong></td>
				</tr>