<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html;charset=windows-1251" />
	<title>Administrative Interface</title>
	<link media="all" rel="stylesheet" href="/css/admin.css">
</head>

<body bgcolor="white">

<table width="100%" bgcolor="#202080">
<tr><td class="head">Administrative Interface</td></tr>

</table>
<div class="user_info">
	<strong>Login:</strong>&nbsp;agent<br />
	<strong>E-mail:</strong>&nbsp;agent@test.com<br />
</div>
<br /><br />

<? include($current_template) ?>

<table width="100%" bgcolor="#202080">
	<tr>

		<td class="tail">
		<a href="apartment.html?id=new">Add new apartment</a> ::
		<a href="apartment.html">Apartments</a> ::
		<a href="office.html?id=new">Add new office</a> ::
		<a href="office.html">Office</a> ::
		<a href="link.html?id=new">Add new link</a> ::
		<a href="link.html">Links</a> ::
		<a href="employment.html?id=new">Add new employment</a> ::
		<a href="employment.html">Employment</a> ::
		<a href="users.html">Users</a> ::
		<a href="division.html">Structure division</a>

		<a href="staticpages.html">Static Pages</a>
		<a href="advertisment.html">Advertisment</a>
		</td>
	</tr>
</table>
</body>
</html>